<section class="hidden edit-review">        
        <form class='edit'>
            <button type="submit" id='<%=foundReview._id%>' onclick="editReview(event)">Submit</button>
            <textarea name='review'  class='reviewText' rows='10' cols='40' placeholder='<%=foundReview.reviewText%>'></textarea>
        </form>
</section>